alabaster==0.7.12
astroid==2.4.2
autopep8==1.5.4
Babel==2.9.0
backcall==0.2.0
blinker==1.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
configobj==5.0.6
# cryptography==1.2.3
decorator==4.4.2
docutils==0.16
idna==2.10
imagesize==1.2.0
ipdb==0.13.4
isort==5.7.0
jedi==0.18.0
Jinja2==2.11.2
jsonpatch==1.10
jsonpointer==1.9
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==1.0.3
packaging==20.8
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prettytable==0.7.2
prompt-toolkit==3.0.14
ptyprocess==0.7.0
pyasn1==0.1.9
pycodestyle==2.6.0
# pycurl==7.43.0
Pygments==2.7.4
# pygobject==3.20.0
# PyJWT==1.3.0
# pylint==2.6.0
pyparsing==2.4.7
pyserial==3.0.1
pytz==2020.5
PyYAML==3.11
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
# sphinx-comments==0.0.3
sphinx-rtd-theme==0.5.1
# sphinx-tabs==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
ssh-import-id==5.5
static3==0.7.0
toml==0.10.2
# traitlets==5.0.5
typed-ast==1.4.2
# ufw==0.35
# unattended-upgrades==0.1
# urllib3==1.26.3
virtualenv==15.0.1
wcwidth==0.2.5
# wrapt==1.12.1
